<div *ngIf="itemConfig.ownerType && !showEdit">
        
  <h2>Sélectionnez {{ ownerConfig.textArticleDefini }}</h2>      
  <select (change)="onOwnerChanged($event.target.value)" 
          style="display: block" >
    <option *ngFor="let owner of owners" [value]="owner.slug">{{owner.title}}</option>
  </select>
</div>

<app-items-list
  *ngIf="showList"
  [items]="items"
  [itemConfig]="itemConfig"
  (onEditItem)="onEditItem($event)"
  (onNewItem)="onNewItem()">
</app-items-list>

<app-item-edit
  *ngIf="showEdit"
  [item]="itemBeingEdited"
  [itemConfig]="itemConfig"
  [editMode]="editMode"
  (onItemEditDone)="onItemEditDone()">
</app-item-edit>
