<app-program-edit *ngIf="itemConfig.type == AIType.Program" [program]="imageContentItem"></app-program-edit>

<div *ngIf="imageContentItem.pictures">
    <h3>Image actuelle</h3>
    <img [src]="imageContentItem.pictures.medium" width=400 />
</div>

<h3>Ajouter/Modifier l'image de couverture</h3>
<vaadin-upload max-files="1" target="http://localhost:8080/api/upload-image" method="POST" timeout="300000"></vaadin-upload>

<h3>Contenu {{ itemConfig.textArticleDu }}</h3>

<ckeditor [(ngModel)]="imageContentItem.content" debounce="500"></ckeditor>  
