

<app-program-edit *ngIf="itemConfig.type == AIType.Program" [program]="imageContentItem"></app-program-edit>

<app-hangout-edit *ngIf="itemConfig.type == AIType.Hangout" [hangout]="imageContentItem"></app-hangout-edit>

<h3>Date de publication sur le site (ne rien mettre si publication immédiate)</h3>
<div>{{ getDate() }}</div>
<input (change)="onDateChange($event.target.value)" type="date" class="datepicker" style="width: 200px;"/>
<!-- <vaadin-date-picker ></vaadin-date-picker> -->

<div *ngIf="imageContentItem.pictures">
    <h3>Image actuelle</h3>
    <img [src]="imageContentItem.pictures.medium" width=400 />
</div>
<h3>Ajouter/Modifier l'image de couverture</h3>

<form id="uploadForm" action="https://jeanot.fr/hapchot-server/upload.php" method="POST"> 
    <input type="file" name="file" />     
    <input type="submit" value="Uploader" /> 
</form>

<!-- <vaadin-upload max-files="1" target="https://jeanot.fr/hapchot-server/upload.php" method="POST" timeout="300000"></vaadin-upload>  -->
<!-- <vaadin-upload max-files="1" target="https://hapchot-web-radio-server.herokuapp.com/api/upload-image" method="POST" timeout="300000"></vaadin-upload>  -->
<!-- <vaadin-upload max-files="1" target="http://localhost:8080/api/upload-image" method="POST" timeout="300000"></vaadin-upload> -->

<h3>Contenu {{ itemConfig.textArticleDu }}</h3>

<div class="explanations">
  <p *ngIf="itemConfig.type == AIType.Presentation">
    Infos : ACTIVER L'OPTION "Afficher les blocs" EN BAS A DROITE DE LA TOOLBAR.
    Ne pas mettre en forme le texte ici (changer police, taille...) il sera automatiquement mis en forme sur le site !
    Pour les titre mettre au format "titre2".
    Pour ajouter un membre de l'équipe, mettre l'image sous un format "division" et le texte à côté.
  </p>
  <p *ngIf="itemConfig.type == AIType.Friends">
    Infos : ACTIVER L'OPTION "Afficher les blocs" EN BAS A DROITE DE LA TOOLBAR.
    Rajouter une image à la suite des autres à l'intérieur du même bloc paragraphe, en gardant ses proportions natives.
  </p>
</div>

<ckeditor [(ngModel)]="imageContentItem.content" 
    debounce="500">
    [config]="config"   
</ckeditor>   
