/deep/
{

#content
{
  padding: 0 10px;
  padding-bottom: 1rem;
  text-align: center;

  @media screen and (min-width: 1000px)
  {
    padding: 0 2rem 4rem 2rem;
  }

  h2, h2 span, h2 strong
  {
    clear: both !important;
    font-weight: bold !important;
    font-family: anton !important;
    font-size: 1.5rem !important;
    text-transform: uppercase !important;
    margin-bottom: 1.5rem;
  } 

  p { margin: 0;} 

  &.friends
  {
    img
    {
      height: 00px !important;
      width: auto !important;
      display: inline-block;
      margin: 5px;

      @media screen and (min-width: 600px)
      {
        height: 120px !important;
        margin: 10px;
      }
    }
  }

  div
  {
    width: 50% !important;

    @media screen and (min-width: 600px)
    {
      width: 33% !important;
      padding: 0 1rem;
    }

    @media screen and (min-width: 1000px)
    {
      padding: 0 2rem;
    }

    
    padding: 0 1rem;

    text-align: center;
    float: left;
    display: inline-block;    
    margin-bottom: 1.5rem;

    span{
      display:block;
    }

    img
    {
      max-width: 100%;
      object-fit: cover;
      height: 130px !important;
    }
  }      
}

}

#presentation-picture
{
  text-align: center;
}

