@import '../../../core/variables';

.slider-item
{
  height: $slider-height;
  position: relative;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  color: $color-grey;

  .item-picture
  {
    width : 50%;
    height: 100%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .item-content
  {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: $color-white;
    padding: 1rem;

    .content-title
    {
      font-size: 1rem;
      margin-bottom: .5rem;
      font-weight: 600;
      text-transform: capitalize;      
      //overflow: hidden;
    }

    .content-description
    {
      font-size: 0.85rem;
      margin: 0;
    }

    .content-btn
    {
      position: absolute; 
      left: 0;
      right: 0; 
      bottom: 0;
      background-color: $color-white;
      padding-bottom: 22px;
      text-align: center;
      
    }
  }
}