  <!-- LIST OF HANGOUTS -->
<div id="list">
  <h2>Liste des sorties</h2>

  <button id="btn-new-hangout"
          class="waves-effect waves-light btn" routerLink="new">
    Ajouter une nouvelle sortie
  </button>

  <ul class="collection" id="hangouts-list">
    <li class="collection-item" id="hangout-{{index}}"
        *ngFor="let hangout of hangouts;">
      {{ hangout.index }} : {{hangout.slug}} | {{ hangout.title }}
      <span class="secondary-content">        
          <a ><i (click)="editHangout(hangout);" class="material-icons left">edit</i></a>
          <i (click)="deleteHangout(hangout)" class="material-icons left">delete</i>
      </span>
    </li>
  </ul>
</div>


