<header>

  <div id="title-panel">
    <span class="hide-on-small-only">Media local et cityoyen</span>
    <h1 class="hide-on-small-only">Hapchot</h1>
    <h1 class="hide-on-med-and-up">Hapchot Web Radio</h1>
    <span class="hide-on-small-only">Web radio en pays tarusate</span>
  </div>

  <div id="nav">
    <a routerLink="/" class="nav-item">Accueil</a>
    <a routerLink="/emissions" class="nav-item">Emissions</a>
    <a routerLink="/grille-des-programmes" class="nav-item">Grille des programmes</a>
    <a routerLink="/info/le-projet" class="nav-item">La web radio</a>
    <a routerLink="/info/amis-et-partenaires" class="nav-item">Amis et partenaires</a>
  </div>


</header>
