<!-- EDIT/NEW HANGOUT -->
<div id="edit">

  <h2 *ngIf="!editMode">Ajouter {{ itemConfig.textArticleIndefini }}</h2>
  <h2 *ngIf="editMode">Modifier {{ itemConfig.textArticleIndefini }}</h2>
  
  <input [(ngModel)]="item.title"
         *ngIf="itemConfig.type != AIType.Podcast" 
         type="text" placeholder="Titre" required>  

  <app-image-content-item-edit 
    *ngIf="itemConfig.type == AIType.Hangout  
        || itemConfig.type == AIType.News  
        || itemConfig.type == AIType.Program
        || itemConfig.type == AIType.Presentation" 
    [imageContentItem]="item"
    [itemConfig]="itemConfig" >
  </app-image-content-item-edit>

  <app-theme-edit   *ngIf="itemConfig.type == AIType.Theme"
                    [theme]="item">  
  </app-theme-edit>
  
  <app-podcast-edit *ngIf="itemConfig.type == AIType.Podcast"
                    [podcast]="item">
  </app-podcast-edit> 

  <p class="center-align">
      <button class="waves-effect waves-light btn" 
              *ngIf="!editMode" 
              (click)="addItem()"
              [disabled]="!item.title">
        Ajouter
      </button>
      <button class="waves-effect waves-light btn" 
              *ngIf="editMode" 
              (click)="updateItem()">
        Sauvegarder les modifs
      </button>
      <button class="waves-effect waves-light btn" 
              (click)="onItemEditDone.emit()">
        Annuler
      </button>
  </p>
</div>
