<!-- <div class="valign-wrapper" style="height: 100%;">
  <div class="valign"> -->
    

    <div id="hapchot-title">[ Hapchot Webradio ]</div>
    <button (click)="soundPlayer.toggleRadio()" class="hapchot-btn color-light" id="listen-live-button">
      <div [ngSwitch]="radioState">
        <div *ngSwitchCase="RadioState.Stopped">Ecouter en Direct</div>
        <div *ngSwitchCase="RadioState.Loading">Chargement ...</div> 
        <div *ngSwitchCase="RadioState.Playing">Arrêter le direct</div>  
      </div>
    </button>

    <div id="radio-player" *ngIf="modeRadio">
      <div class="player-picture">
        <img (click)="soundPlayer.stopRadio()" [src]="(track.cover && (radioState == RadioState.Playing)) ? track.cover : 'assets/img/radio-cover.jpg'" /> 
        <div *ngIf="radioState == RadioState.Stopped" class="btn-play"
          (click)="soundPlayer.playRadio()"></div>
        <div *ngIf="radioState == RadioState.Loading" id="picture-loader">
            <div  class="preloader-wrapper active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <div *ngIf="track.title && (radioState == RadioState.Playing)" id="track-title">{{ track.title }}</div>
      <div *ngIf="track.artist && (radioState == RadioState.Playing)" id="track-artist">
        {{ track.artist}}<span *ngIf="track.album"> / {{ track.album}}</span>
      </div>
   </div>

   <div id="podcast-player" [hidden]="modeRadio">
      <div class="player-picture">
        <img [src]="track.cover ? track.cover : 'assets/img/radio-cover.jpg'" />         
      </div>
      <!-- <h3>En écoute</h3> -->
      <iframe id="mixcloud-frame" width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fhapchot%2Fvie-de-m%25C3%25A8re-la-motricit%25C3%25A9%2F&hide_cover=1&hide_artwork=1&light=1" frameborder="0"></iframe>
    </div>

    <div id="next-program">
      <h3>Prochaine Emission</h3>      
      <div *ngIf="nextProgram">
        <div style="text-transform: Capitalize">
          {{ formatDate(nextProgram.start_date) }}
          {{ formatTime(nextProgram.start_date) }}
        </div>
        <div id="next-program-title">{{ nextProgram.title }}</div>      
      </div>
    </div>

    <h3>Derniers podcasts</h3>
    <ul id="podcasts-list" >  
      <li class="item" *ngFor="let podcast of podcasts" (click)="soundPlayer.playPodcast(podcast)">   
        <img [src]="podcast.pictures?.thumbnail" alt="" class="circle">
        <span class="title">{{ podcast.title }}</span>
        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>  -->
      </li>
    </ul>

    

<!--   </div>
</div>
 -->
