@import "../core/variables";

:host
{
  background-color : $color-dark;
  color : $color-white;
  text-align: center;
  font-size: .9rem; 

  @media screen and (min-width: 850px) 
  {
    padding-top:2rem;
  }
}

h3
{
  padding-right: .9rem;
  font-size: 1.05rem;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .4px;
  line-height: 1.7rem;
  border-bottom: 1px solid $color-white;
}

#hapchot-title
{
  font-family: Anton;
  font-size: 1.4rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

#listen-live-button
{
  font-size: 1.2rem;
  height: 2.7rem;
  margin: 0 auto;
  @media screen and (min-width: 850px) 
  {
    margin: 0;
  }
}

.player-picture
{
  position: relative;
  width: 130px;
  height: 130px;
  margin: 10px;  

  @media screen and (min-width: 850px) 
  {
    width : 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: .5rem;
  }

  img
  {
    width : 100%;
    height: 100%;
  }

  .btn-control 
  {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    position: absolute;
    border: 3px solid white;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,.3);
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
    border-radius: 100px;
    background-clip: padding-box;
    
    background-size: 22px 24px;
    background-position: 54% 50%;
    background-repeat: no-repeat;

    &.btn-play { background-image: url('assets/img/play-button-white.png'); }
    &.btn-stop { background-image: url('assets/img/stop-button-white.png'); }

    &:hover
    {
      cursor: pointer;
      background-color: rgba(0,0,0,.6);
    }
  }
}

#radio-player
{
  margin-bottom: .7rem;
  height: 100%;
  @media screen and (min-width: 850px) 
  {
    height: auto;
  }  

  .player-picture
  {   

    #picture-loader
    {
      position:absolute;
      top: 0;
      z-index:3;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      
      i
      {
        font-size: 130px;
        width: 100%;
        /* height: 100%; */
        line-height: 150px;
        /* text-align: center; */
        opacity: 0.5;
        background-color: #8a8a8a;
        color: #f5f5f5;
      }

      $spinner-default-color: black;

      .preloader-wrapper
      {
        width: 70%;
        height: 70%;
        margin:0 auto;
        margin-top: 20px;
      }
    }    
  }

  #track-title
  {
    font-weight: 500;
    /* width: 50%;
    @media screen and (min-width: 850px) 
    {
      width: 100%;
    } */
  }

  #track-artist
  {
    font-style: italic;
    /* width: 50%;
    @media screen and (min-width: 850px) 
    {
      width: 100%;
    } */
  }
}

.player-picture-container
{
  float: left;
  height: 100%;
  @media screen and (min-width: 850px) 
  {
    height: auto;
    float: none;
  }
}

.radio-info-container
{
  margin-right: 10px;
  height: 100%;
  @media screen and (min-width: 850px) 
  {
    height: auto;
  }
}

#next-program
{
  & > div {  padding: .5rem 1.8rem 1rem 1rem;}
}

#next-program-title
{
  //font-style: italic;
  font-size: 1rem;
  font-weight: 500;
}

#podcasts-list
{
  /* top : 200px;
  bottom : calc(2rem + 120px);
  position: absolute; */
  padding: 0;
  list-style-type: none;

  li.item
  {
    min-height: 4rem;
    font-size: .85rem;
    cursor: pointer;
    position: relative;
    text-align: justify;
    padding: .2rem .8rem 1rem 66px;

    &:hover
    {
      text-decoration: underline;
    }
    img
    {
      position: absolute;
      width: 42px;
      height: 42px;
      overflow: hidden;
      left: 10px;
      top: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

#podcast-player
{
  height: 100%;
  @media screen and (min-width: 850px) 
  {
    height: auto;
  } /* position: absolute;
  bottom: 0; */
}
