@import '../core/variables';

#main-subtitle
{
  font-family: Anton;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
}

.logo-jeanot
{
  width: 70%;
  margin-top: .7rem;
  opacity: .9;
}

.logo-social-container
{
  margin-bottom: .8rem;
}

.logo-social
{
  display: inline-block;
  width: 30px;
  margin: 0 .5rem;
}








