<div class="row">
  <div class="col s9">
    <app-news-list></app-news-list> 
    <app-program-list></app-program-list>
  </div>

  <div class="col s3 center-align"> 

    <div id="logo-container">
      <a href="http://jeanot.fr" target="_blank">
        <img class="logo-jeanot" [src]="'assets/img/logo-jeanot.png'"/>
      </a>
      <div class="logo-social-container">
        <a href="https://www.facebook.com/pages/Radio-Hapchot/1477837695793858?fref=ts" target="_blank">
          <img class="logo-social" [src]="'assets/img/logo-facebook.png'"/>  </a>
        <a href="https://twitter.com/ecolieujeanot" target="_blank">
          <img class="logo-social" [src]="'assets/img/logo-twitter.png'"/> </a>
        <a href="https://play.google.com/store/apps/details?id=app.hapchot&hl=fr" target="_blank">
          <img class="logo-social" [src]="'assets/img/logo-google-play.png'"/> </a>
      </div> 
    </div>
    
    <app-newsletter></app-newsletter>
    
    <app-hangouts-grid></app-hangouts-grid>
  </div>
</div> 



