@import '../core/variables';
@import '../../assets/vendors/materialize/core';

#main-subtitle
{
  font-family: Anton;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
}

#logo-container
{
  //margin-top: -.8rem;
  position: absolute;
  left: 100%;
  margin-left: 10px;
  width: 30px;
}

.logo-jeanot
{
  width: 45px;
  margin-bottom: 5px;
}

.logo-social-container
{
  margin-left: 6px;
  display: inline-block;
}

.logo-social
{
  display: inline-block;
  width: 25px;
  margin: 5px 0;
}








