$color-yellow : #e7b32c;
$color-dark-brown : #1d1d1b;
$color-dark-blue : #25292c;
$color-blue: #255b5d;
$color-white : #d8d8d8;
$color-white-light : #e6e6e6;
$color-red : #a22d24;

$sidebar-width: 240px;
