$color-yellow : #e7b32c;
$color-yellow-soft : #e8bc47;
$color-dark: #181a1b;
$color-dark-brown : #1d1d1b;
$color-dark-blue : #25292c;
$color-blue: #255b5d;
$color-white : #d8d8d8;
$color-white-light : #e6e6e6;
$color-red : #882d11;
$color-pink-dark: #b54735;   
$color-grey: rgba(24, 26, 27, 0.89); 
$color-dark-grey: #474a4c;

$sidebar-width: 220px;
$slider-height: 200px;
$slider-width: 300px;
