<app-sound-player></app-sound-player>
<div id="main-page">
  <app-header></app-header>
  <div id="main-content">
    <router-outlet></router-outlet>

    <app-social-links *ngIf="matchMediaService.isLargeDesktop()" [display]="'aside'"></app-social-links>
    
  </div>
  <footer>
    Webradio HAPCHOT/Ecolieu JEANOT <br/> 
    Lieu dit "Peye" <br/> 
    40370 Rion des Landes<br/> 
    hapchotwebradio@jeanot.fr<br/> 
    09 81 98 81 31<br/> 
    <a id="admin-link" href="http://hapchot-admin.firebaseapp.com/admin" target="_blank" >Interface Administrateur</a>
  </footer>
</div>



