<app-sound-player></app-sound-player>
<div id="main-page">
  <app-header></app-header>
  <div id="main-content">
    <router-outlet></router-outlet>

    <div id="logo-container">
      <a href="http://jeanot.fr" target="_blank">
        <img class="logo-jeanot" [src]="'assets/img/logo-jeanot.png'"/>
      </a>
      <div class="logo-social-container">
        <a href="https://www.facebook.com/pages/Radio-Hapchot/1477837695793858?fref=ts" target="_blank">
          <img class="logo-social" [src]="'assets/img/logo-facebook.png'"/>  </a>
        <a href="https://twitter.com/ecolieujeanot" target="_blank">
          <img class="logo-social" [src]="'assets/img/logo-twitter.png'"/> </a>
        <a href="https://play.google.com/store/apps/details?id=app.hapchot&hl=fr" target="_blank">
          <img class="logo-social" [src]="'assets/img/logo-google-play.png'"/> </a>
      </div> 
    </div>

    
  </div>
  <footer>
    Webradio HAPCHOT/Ecolieu JEANOT <br/> 
    Lieu dit "Peye" <br/> 
    40370 Rion des Landes<br/> 
    hapchotwebradio@jeanot.fr<br/> 
    09 81 98 81 31<br/> 
    <a id="admin-link" routerLink="/admin" routerLinkActive="active">Interface Administrateur</a>
  </footer>
</div>



