@import 'variables';

body, html
{
  min-height:100%;
}

app-sound-player
{
  position: fixed;
  z-index: 20;
  @media screen and (max-width: 849px)
  {
    bottom : 0;
    left: 0;
    right: 0;
    height : $sidebar-height-small-screen; 
  }
  @media screen and (min-width: 850px) 
  { 
    top : 0;
    bottom :0;
    left : 0;
    width : $sidebar-width-medium-screen; 
  }
  @media screen and (min-width: 1000px) 
  { 
    width : $sidebar-width-large-screen; 
  }
  
}

#main-page
{
  position: relative;
  min-height: 100%;
  @media screen and (max-width: 849px)
  {
    margin-bottom : $sidebar-height-small-screen; 
  }
  @media screen and (min-width: 850px) { margin-left : $sidebar-width-medium-screen; }
  @media screen and (min-width: 1000px) { margin-left : $sidebar-width-large-screen; }
  overflow: hidden;
  background-color: $color-dark;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -.5px;
}

#main-content
{
  max-width: 900px;
  min-height: 300px;
  padding: 0.75rem 0 1rem 0;

  @media screen and (min-width: 400px) 
  { 
    padding: 1rem;
  }
  
  @media screen and (min-width: 600px) 
  { 
    padding: 2rem;
    padding-top: 1.5rem;
  }

  margin : 0 auto;
  position: relative;
  background-color: $color-yellow; 
}

footer
{
  width:100%;
  font-size: .85rem;
  background-color: $color-dark;
  text-align: center;
  color: $color-white;
  padding: 1rem;
  font-weight: 500;

  #admin-link
  {
    color: $color-white;
    text-decoration: underline;
    margin-top: .5rem;
  }
}

/deep/
{
  .hapchot-btn
  {
    text-decoration: none;
    color: #1d1d1b;
    font-family: Anton;
    margin-bottom: 1rem;
    margin-top: .5rem;
    
    text-align: center;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .2px;
    line-height: 1.8rem;
    padding: 0 1.2rem;
    color: $color-white;
    background-color: $color-blue-light;

    &.color-light
    {
      color: $color-dark;
      background-color: $color-white;

      &:hover 
      {
        background-color : $color-yellow;
        color: $color-dark;
      }
    }

    &.color-red
    {      
      background-color: #454a4c;
      color: $color-white;

      &:hover
      {
        background-color: $color-blue;
        color: $color-white;
      }
    }

    &.color-light-blue
    {
      color: $color-blue;
      background-color: $color-white;

      &:hover 
      {
        background-color : $color-blue-light;
        color: $color-white;
      }
    }

    &:hover 
    {
      background-color : $color-white;
      color: $color-blue;
    }
  }

  h2
  {
    font-family: Anton;  
    text-align: center;
    font-size: 2rem;
    @media screen and (min-width: 600px) 
    { 
      font-size: 3.5rem;
    }
    
    letter-spacing: .1px;
    margin: .5rem 0;
  }
  
  h3
  {
    font-family: Anton;  
    text-align: center;
    font-size: 1.3rem;
    margin-top: .7rem;
  }

  h2.square
  {
    font-size:2rem;
    text-transform: uppercase;     
    
    background-color: $color-white;
    color: $color-blue;
    padding: .4rem .8rem;
    width: 100%;
    margin-top: 0;
    margin-bottom:0;
    font-size: 1.3rem;

    &.color-blue
    {
      background-color: $color-blue-light;
      color: $color-white;
    }

    &.color-red
    {
      
      background-color: $color-blue;
      //background-color: $color-pink-dark;
      color: $color-white;
    }

    &.color-blue-light
    {
      background-color: #3d82b9;
      color: $color-white;
    }
  }

  div#content 
  {
    a { color: $color-blue; text-decoration: underline;}
    strong { font-weight: bold; }
    h2 { text-align: left; }
    h3 { text-align: left; }
  }
  
  .divider
  {
    height: 2px;
    overflow: hidden;
    background-color: $color-dark;
    background-color: rgba(36, 27, 6, 0.76);
    margin: 1.5rem 0 2.5rem 0;
  }
}