@import 'variables';

app-sound-player
{
  position: absolute;
  top : 0;
  bottom :0;
  left : 0;
  width : $sidebar-width;
}

#main-page
{
  position: absolute;
  top : 0;
  bottom : 0;
  right : 0;
  left : $sidebar-width;
  overflow: hidden;

  background-color: $color-yellow;
}

/deep/
{
  .hapchot-btn
  {
    text-decoration: none;
    color: #1d1d1b;
    font-family: Anton;
    font-size: 1.5rem;
    height: 3rem;
    background-color: $color-white;
    text-align: center;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 0 2rem;
    text-transform: uppercase;
    margin: 1rem 0;

    &.small
    {
      padding: 0 1.2rem;
      font-size: 1.2rem;
      height: 2.4rem;
    }

    &:hover 
    {
      background-color : $color-yellow;
    }
  }

  @import 'variables';
}