@import "../../core/variables";

#program-picture
{
  height: 200px;
  text-align: center;

  img
  {
    height: 100%;
  }
}

#content
{
  text-align: center;

}

#broadcasting
{
  text-align: center;
  font-style: italic;
  font-weight:bold;
}

.podcast-container
{
  //width: 50%;
  height: 200px;
  display: inline-block;
  margin-bottom: 1rem;
}
